.v {
  /* background-image: url(./Assets/bg.png); */
  background-color: #bfbcc2;
  /* background-image: url('./Assets/bg-line.png'); */
  background-image: url('./Assets/stacked-steps-haikei.png');
  /* background-color: #f7f7f7; */
  /* background-image: url('./Assets/bg-gra.png'); */
  background-repeat: no-repeat;
  /* background-image: url('./Assets/bg-texture.png'); */
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  max-height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  padding: 0px !important;
  margin: 0px !important;
  padding-top: 0px !important;
}
.profile{
  display: grid;
  gap: 10px;
  width: clamp(300px,60vw,400px);
  position: relative;
  padding-top: 30px !important;
  /* background-color: aqua !important; */
  height: 100vh !important;
  overflow: hidden;
}
.ed{
  position: absolute; 
  right:10px;
  top: 10px;
}


