@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
  box-sizing:border-box;
  margin: 0 !important;
  font-family: 'Sarabun', sans-serif !important;
  padding: 0px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.evergreen-file-picker-text-input.ub-w_280px{
  width: 100% !important;
}
.container-img{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.container-about{
  display: grid;
  /* grid-template-columns: repeat(auto-fit,350px); */
  gap: 10px;
}
.lds-dual-ring {
  display: flex;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen  and (max-width:700px) {
  .row >.d-flex.w-100.justify-content-between{
      flex-direction: column;
      margin: 0 !important;
      flex-wrap: wrap;
      /* align-items: center; */
      justify-content: center;
      }
}

