.head {
  /* background-color: #8937C6; */
  background-image: linear-gradient(
    108.7deg,
    rgba(221, 22, 224, 1) 11%,
    rgba(111, 22, 190, 1) 88.2%
  );
  color: #ffffff !important;
  /* border-radius: 0px 0px 10px 10px ;  */
  box-shadow: 0px 0px 20px #0000007e !important;
}
a {
  color: #ffffff !important;
}
.navlink {
  /* background-color: aliceblue; */
  height: 40px;
  max-width: 300px;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  /* border-radius: 5px; */
  margin: 0 5px;
  gap: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
}
.headmenu{
  gap: 10px;
  width: 60%;


}
.profile{
  /* background-color: #5f13b6 !important; */
  border-radius: 5px;
  color: #ffffff;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  flex-direction: column;
  max-height: 600px;
}
.barmenu{
  display: grid !important;
  gap: 10px;
  grid-template-columns: 120px 150px auto 200px 200px !important;
  /* background-color: #6a00e4; */
}
/* .mainlayout {
  display: grid;
  gap: 10px;
} */
.navlink:hover {
  cursor: pointer;
  background-color: #ffffff3f;
}
.ac {
  background-color: #ffffff3f;
}

@media screen and (max-width: 992px) {
  .navlink {
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
  }
  .barmenu{
    display: grid !important;
    gap: 10px;
    grid-template-columns: 1fr !important;
    /* grid-template-rows: 100px 100px 100px 100px; */
    /* background-color: #6a00e4; */
  }
}
.logout:hover {
  background-color: #bd2424 !important;
  color: #ffffff !important;
  box-shadow: 0px 0px 5px #2222224b;
  border-radius: 10px;
}
.logout {
  background-color: #ffffff;
  color: red !important;
  border-radius: 10px;
  /* box-shadow: 0px 0px 5px #2222224b; */
}
.logout-sm{
  cursor: pointer;
  background-color: #c00c0c !important;
  border-radius: 5px;
  
}
.dd{
  color: #2c2633 !important;
}
.dd:hover{
cursor: pointer;
color: #6a00e4 !important;
}
